{% load static %}
<div class="header">
  <div class="container-fluid">
    <div class="row d_flex">
      <div class=" col-md-2 col-sm-3 col logo_section">
        <div class="full">
          <div class="center-desk">
            <div class="logo">
              <a href="index.html"><img src="{%static 'images/yss.png' %}" alt="#" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 ">
        {% include 'navbar.html' %}
      </div>
    </div>
  </div>
</div>